@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAE0D5;
    box-shadow: 0px 1px 5px grey;
    padding: 5px;
}

.nav-link{
    text-decoration: none;
    padding: 3px ;
    width: 200px;
    text-align: center;

}
.nav-link:link{
    color: black;
}
.nav-link:visited{
    color: black;
}
.nav-link:hover{
    text-decoration: underline;
}

.nav-link.active{
    background-color: #cac0b6;
}

.nav-link.disabled{
    color: gray;
    cursor: default ;
}

.nav-link.disabled:hover{
    text-decoration: none;
}

.nav-btn{
    padding: 3px 10px;
}


/* Headings */
h1, h2, h3, h4, h5, h6{
    padding: 10px 5px;
    font-weight:normal;
}

p{
    padding:10px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: lighter;
}

.btn {
    width: 100px;
    margin: 10px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
}
.btn-primary{
    background-color:#1976D2 ;
    color: white;
}

.btn-link:hover{
    color: #1976D2;
}

.card{
    border:1px solid grey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.card-img-top{
    width: 100%;
    padding: 10px;

}

.card-title{
    font-size: 1.5rem;
    padding: 2px 10px;
}

.card-text{
    /* font-size: 1em; */
    color: black;
    padding: 5px 10px;
}

.alert{
    border: 0.1px solid #3786d4;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.alert.alert-primary{
    background-color: #85bcf2;
    color: rgb(43, 43, 43);
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: auto;
}

.form-control{
    margin: auto;
}

.g-3{
    gap: 1rem
}

.col, .col-12 {
    width: 100%;

}
.col-12{
    margin: 0 30px;
}

.form-control{
    width: 100%;
    padding: 5px;
    border: 2px solid lightgrey;
}

.form-select{
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 2px solid lightgrey;
}

.form-check{
    text-align: center;
}
.btn-submit{
    width: 100%;
    background-color:#1976D2 ;
    color: white;
}

@media (min-width: 768px) {
    .nav{
        flex-direction: row;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    .col-md-2{
        width: 15%;
    }

    .col-md-6{
        width: 45%;
    }

    .col-md-4{
        width: 30%;
    }
    .btn-submit{
        display: block;
        width: 200px;
        margin: 10px auto;

    }
}



